.signin-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f8f8f8;
  margin-top: 70px;
  font-family: sans-serif;
}

.signin-form {
  background: white;
  padding: 30px 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.signin-form h2 {
  text-align: center;
  margin-bottom: 10px;
  color: #333;
}

.signin-form input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.signin-form input:focus {
  border-color: #333;
}

.signin-form button {
  padding: 10px;
  background: #111;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  gap: 3px;

}

.signin-form button:hover {
  background: #222;
}

.login-message {
  text-align: center;
  font-size: 0.9rem;
  color: #555;
}
