.item-page {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  font-family: sans-serif;
  color: gray;
  margin-top: 60px;
}

.item-container {
  display: flex;
  gap: 40px;
  max-width: 900px;
  background: #fff;
  padding: 30px;
  border-radius: 3px;
  box-shadow: 0 4px 15px rgb(170 170 170 / 10%);
}

.item-container img {
  width: 300px;
  height: 300px;
  object-fit: contain;
}

.item-details h2 {
  font-size: 1.8rem;
  margin-bottom: 15px;
}

.item-details .price {
  font-size: 1.4rem;
  color: #f1c40f;
  margin-bottom: 10px;
}

.item-buttons button {
  margin-top: 20px;
  padding: 10px 25px;
  background-color: #f1c40f;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.3s;
}

.item-buttons button:hover {
  background-color: #d4ac0d;
}

.item-details button:last-child{
  background-color: rgb(3, 161, 3);
  color: rgb(255, 255, 255);
}

.item-details button:last-child:hover{
  background-color: green;
}

.item-buttons{
  display: flex;
  align-items: center;
  gap: 20px;
}

.item-rating{
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 490px;
}

.desc {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease, opacity 0.3s ease;
  opacity: 0;
}

.desc.show {
  max-height: 200px; 
  opacity: 1;
}

.view-btn{
  border: none;
  background-color: rgb(255, 255, 255);
  border-radius: 3px;
  padding: 8px;
  color: grey;
}

.item-container {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeIn 0.5s ease forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
