.item-page {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  font-family: sans-serif;
  color: gray;
  margin-top: 60px;
}

.item-container {
  display: flex;
  gap: 20px;
  max-width: 900px;
  background: #fff;
  padding: 30px;
  border-radius: 3px;
  box-shadow: 0 4px 15px rgb(0 0 0 / 10%);
}

.item-container img {
  width: 300px;
  height: 300px;
  object-fit: contain;
}

.item-details h2 {
  font-size: 1.8rem;
  margin-bottom: 15px;
}

.item-details .price {
  font-size: 1.4rem;
  color: #f1c40f;
  margin-bottom: 10px;
}

.item-buttons button {
  margin-top: 20px;
  padding: 10px 25px;
  background-color: #f1c40f;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.3s;
}

.item-buttons button:hover {
  background-color: #d4ac0d;
}

.item-details button:last-child {
  background-color: rgb(3, 161, 3);
  color: rgb(255, 255, 255);
}

.item-details button:last-child:hover {
  background-color: green;
}

.item-buttons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.item-rating {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 490px;
}

.desc {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease, opacity 0.3s ease;
  opacity: 0;
}

.desc.show {
  max-height: 200px;
  opacity: 1;
}

.view-btn {
  border: none;
  background-color: rgb(255, 255, 255);
  border-radius: 3px;
  padding: 8px;
  color: grey;
}

.item-image-wrapper {
  width: 350px;
  height: 350px;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px rgb(237, 237, 237) solid;
  border-radius: 5px;
}

.main-item-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  opacity: 1;                      
  transition: transform 0.4s ease-in-out;
}

.exit-left {
  animation: exitLeft 0.4s forwards;
}
.exit-right {
  animation: exitRight 0.4s forwards;
}

@keyframes exitLeft {
  from { transform: translateX(0); opacity: 1; }
  to   { transform: translateX(-100%); opacity: 0; }
}
@keyframes exitRight {
  from { transform: translateX(0); opacity: 1; }
  to   { transform: translateX(100%); opacity: 0; }
}

.enter-left {
  animation: enterLeft 0.4s forwards;
}
.enter-right {
  animation: enterRight 0.4s forwards;
}

@keyframes enterLeft {
  from { transform: translateX(-100%); opacity: 0; }
  to   { transform: translateX(0); opacity: 1; }
}
@keyframes enterRight {
  from { transform: translateX(100%); opacity: 0; }
  to   { transform: translateX(0); opacity: 1; }
}

.item-dots {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 15px;
}

.item-dot {
  width: 12px;
  height: 12px;
  background: #bbb;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}

.item-dot.active {
  background: rgb(90, 89, 89);
  width: 20px;
  border-radius: 10px;
}


.item-sizes p {
  margin: 10px 0 5px;
  font-size: 16px;
  color: #555;
  font-weight: bold;
}

.sizes-list {
  display: flex;
  gap: 10px;
}

.size-box {
  padding: 8px 16px;
  border: 1px solid #ccc;
  cursor: pointer;
  border-radius: 6px;
  transition: 0.3s;
}

.size-box:hover {
  border-color: black;
}

.size-box.active {
  background: black;
  color: white;
  border-color: black;
}

p{
  margin-inline: 0;
}

.item-container {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeIn 0.5s ease forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
