
.recent-container {
  font-family: sans-serif;
  padding: 20px;
}

.recent-title{
    font-size: 20px;
    font-weight: bold;
}

.recent-grid {
  display: flex;
  gap: 15px;
  overflow-x: auto;
  padding: 10px 0;
}

.recent-grid::-webkit-scrollbar{
  display: none;
}

.recent-card {
  min-width: 150px;
  background: #fff;
  border-radius: 8px;
  cursor: pointer;
  text-align: center;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  transition: 0.3s;
  padding: 20px 10px;
  max-width: 200px;
}

.recent-card img {
  width: 100%;
  height: 120px;
  object-fit: cover;
}

.recent-card:hover {
  transform: translateY(-5px);
}

.recent-card p{
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin: 8px 0;
    line-height: 1.4;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 1em;
}

.recent-card img{
    height: 200px;
    object-fit: contain;
    width: 100%;
}
