.product-page {
  margin-top: 60px;
  padding: 20px 40px;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(223px, 1fr));
  gap: 5px;
  margin-top: 40px;
}

.product-card {
  border-radius: 3px;
  padding: 20px;
  background: #fff;
  box-shadow: 0 2px 8px rgb(169 169 169 / 10%);
  transition: transform 0.2s ease;
  color: rgb(85, 84, 84);
}

.product-card h3 {
  font-size: 16px;
  font-weight: 500;
  color: #333;
  margin: 8px 0;
  line-height: 1.4;
  display: -webkit-box;
  -webkit-line-clamp: 1; 
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 1em;        
}

.product-card:hover {
  transform: scale(1.02);
}

.product-card img {
  height: 200px;
  object-fit: contain;
  width: 100%;
}

.loading{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    letter-spacing: 1px;
    font-family: sans-serif;
}

.product-page-search{
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  width: 100%;
  max-width: 500px;
  border: none;
  background-color: rgb(255, 255, 255);
  box-shadow: 3px 2px 6px 0px rgb(219 219 219);
  border-radius: 10px;
  padding-left: 10px;
}

input{
  width: 100%;
  max-width: 500px;
  min-width: 300px;
  padding: 15px;
  border: none;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
}

img{
  height: 20px;
  width: 20px;
  margin-left: 10px;
}

input:focus{
  outline: 0;
}

input::placeholder {
  color: #999;    
  font-size: 15px; 
}


.product-category{
  display: flex;
  align-items: center;
  gap: 20px;
}

.product-category button{
  padding: 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  border: none;
  color: gray;
  font-weight: bold;
  box-shadow: 3px 2px 6px 0px rgb(219 219 219);;
  border: 0.5px solid gray;
  text-wrap: nowrap;
}

.product-category button:hover{
  scale: 1.02;
  transition: ease 0.1s;
  background-color:  rgb(223, 223, 223);
}

.product-category button.active {
  background-color: #3f3e3e;
  color: white;
  border-color: #111;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

.product{
  display: flex;
  align-items: center;
  gap: 40px;
  color: gray;
  overflow: scroll;
  padding: 10px 0;
}

.product::-webkit-scrollbar{
  display: none;
}

.no-items{
  padding: 30px;
}

p{
  margin: 5px;
}

.product-details{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-count{
  display: flex;
}

.product-card h3{
  font-weight: bold;
}

.product-card {
  opacity: 0;
  transform: translateY(60px);
  animation: fadeIn 0.5s ease forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
