.footer {
  width: 100vw;
  background-color: #111;
  color: #fff;
  text-align: center;
  margin-top: 50px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  z-index: 999;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: 0 auto;
  text-align: left;
}

.footer-section {
  flex: 1;
  min-width: 250px;
  margin: 10px 20px;
}

.footer-section h2,
.footer-section h3 {
  color: #c5c4c3;
  margin-bottom: 15px;
  text-align: left;
}

.footer-section p {
  color: #ccc;
  line-height: 1.6;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin: 8px 0;
}

.footer-section ul li a {
  color: #ccc;
  text-decoration: none;
  transition: 0.3s;
}

.footer-section ul li a:hover {
  color: #4d4d4c;
}

.social-icons {
  display: flex;
  gap: 12px;
  color: rgb(163, 162, 162);
}

.social-icons svg {
  color: rgb(192 196 195);
  margin-right: 15px;
  cursor: pointer;
  transition: 0.3s;
}

.social-icons svg:hover {
  color: #555353;
  transform: scale(1.1);
}

.footer-bottom {
  border-top: 1px solid #444;
  margin-top: 30px;
  padding-top: 15px;
  font-size: 14px;
  color: #aaa;
}

ul{
  display: flex;
  gap: 20px;
}
