.footer {
  background-color: #111;
  color: #fff;
  padding: 40px 20px 20px;
  text-align: center;
  margin-top: 50px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: 0 auto;
  text-align: left;
}

.footer-section {
  flex: 1;
  min-width: 250px;
  margin: 10px 20px;
}

.footer-section h2,
.footer-section h3 {
  color: #c5c4c3;
  margin-bottom: 15px;
}

.footer-section p {
  color: #ccc;
  line-height: 1.6;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin: 8px 0;
}

.footer-section ul li a {
  color: #ccc;
  text-decoration: none;
  transition: 0.3s;
}

.footer-section ul li a:hover {
  color: #f4b400;
}

.social-icons {
  display: flex;
  gap: 12px;
  margin-left: -9px;
}

.social-icons img {
  width: 28px;
  height: 28px;
  filter: brightness(1) invert(0.5);
  transition: 0.3s;
}

.social-icons img:hover {
  transform: scale(1.1);
  filter: brightness(1) invert(1);
}

.footer-bottom {
  border-top: 1px solid #444;
  margin-top: 30px;
  padding-top: 15px;
  font-size: 14px;
  color: #aaa;
}

ul{
  display: flex;
  gap: 20px;
}
