.signin-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f8f8f8;
  margin: unset;
}

.signin-form {
  background: white;
  padding: 30px 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 320px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  animation: fadeIn 0.5s ease-in-out;

}

.signin-form h2 {
  text-align: center;
  margin-bottom: 10px;
  color: #333;
}

.signin-form input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  width: unset;
  margin-top: 4px;
}

.signin-form input:focus {
  border-color: #111;
}

.signin-form button {
    width: 100%;
    background: #272728;
    color: white;
    padding: 12px 0;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    transition: 0.2s;
}

.signin-form button:hover {
  background: #222;
}

.login-message {
  text-align: center;
  color: #333;
  font-size: 0.9rem;
}

.admin-login-link {
  margin-top: 20px;
  text-align: center;
}

.admin-login-link a {
  color: rgb(90, 90, 90);
  font-weight: bold;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: 6px;
  transition: 0.2s;
}

.admin-login-link a:hover {
  color: #000000;
}

.signin-form label{
  font-weight: bold;
}
