/* Entire Page */
.admin-dashboard-container {
  background: #000;
  min-height: 100vh;
  padding: 20px;
  color: white;
  padding-top: 100px;
  font-family: Arial;
}

.admin-category {
  display: flex;
  flex-direction: column;
  background: #111;
  padding: 15px 20px;
  border-radius: 8px;
  margin-bottom: 10px;
  gap: 20px;
}

.admin-category-label{
  font-weight: bold;
}

.category-buttons {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.category-buttons button {
  padding: 8px 14px;
  background: #222;
  color: white;
  border: 1px solid #555;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
}

.category-buttons button.active-cat {
  background: white;
  color: black;
  border: 1px solid white;
}


.logout-btn {
  background: white;
  color: black;
  padding: 8px 14px;
  border-radius: 5px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

/* Welcome Message */
.welcome-msg {
  margin: 20px 0;
  text-align: center;
}

.product-form{
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
}

/* Stat Cards */
.dashboard-grid {
  display: flex;
  gap: 20px;
  margin-bottom: 40px;
}

.card {
  flex: 1;
  background: #111;
  padding: 25px;
  border-radius: 8px;
  text-align: center;
}

.card-number {
  font-size: 36px;
  font-weight: bold;
}

/* Product Form Card */
.product-form-card {
  background: #111;
  padding: 30px;
  border-radius: 8px;
  max-width: 700px;
  margin: auto;
}

.product-form-card h3 {
  text-align: center;
  margin-bottom: 20px;
}

.product-form input {
  min-width: 200px;
  width: unset;
  padding: 12px;
  margin-bottom: 12px;
  background: #000;
  border: 1px solid #444;
  border-radius: 6px;
  color: white;
}

.product-form textarea {
  padding: 12px;
  margin-bottom: 12px;
  background: #000;
  border: 1px solid #444;
  border-radius: 6px;
  color: white;
  grid-column: 1 / -1;
}

/* Textarea */
.product-form textarea {
  height: 90px;
  resize: none;
}


/* Button */
.product-form button {
  width: 100%;
  padding: 12px;
  background: white;
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  grid-column: 1 / -1;
  max-width: 300px;     
  margin: 15px auto 0;   
  display: block; 
}

.dropdown-multi {
  width: 100%;
  padding: 10px;
  background: #000;
  color: white;
  border: 1px solid #444;
  border-radius: 6px;
  height: 110px;   /* shows 4 items */
  cursor: pointer;
}

