.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.carousel-image-wrapper {
  position: relative;
  width: 100%;  height: 350px;
  overflow: hidden;
  border-radius: 15px;
  /* box-shadow: 0 4px 12px rgba(0,0,0,0.3); */
}

.carousel-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 1s ease-in-out;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.6);
  border: none;
  font-size: 16px;
  padding: 8px 13px 10px 13px;
  cursor: pointer;
  border-radius: 50%;
  transition: 0.3s;
}

.arrow:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

.arrow.left {
  left: 15px;
}

.arrow.right {
  right: 15px;
}

.progress-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 5px;
  width: 100%;
  background: rgba(250, 250, 250, 0.685);
}

img{
    margin: 0;
}

.progress-fill {
  height: 100%;
  background: rgb(121, 119, 119);
  transition: width 0.1s linear;
  border-radius: 2px;
}
